/* Reset y estructura base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Segoe UI', sans-serif;
  background-color: #CC4F4F;
  background-image: url("../img/fondo.png");
  background-repeat: repeat;
  background-size: 2000px;
  background-position: top;
  background-blend-mode: multiply;
  color: #682727;

  display: flex;
  flex-direction: column;
}

/* Barra superior */
#barra-superior {
  background-color: #FFF8F8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  border-bottom: 8px solid #BD2929;
}

#boton-inicio img {
  width: 40px;
  height: 40px;
  object-fit: contain;
  border-radius: 8px;
  background-color: #FFF1F1;
  padding: 5px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

/* Contenedor cronograma */
#contenedor-cronograma {
  display: flex;
  gap: 20px;
  background-color: transparent;
  padding: 20px;

  width: 100%;
  max-width: none;
  margin: 0;

  flex-wrap: nowrap;
  justify-content: flex-start;
}

/* Lista de fechas */
#fechas {
  min-width: 180px;
  max-height: 450px;
  overflow-y: auto;
  padding: 15px;
  background-color: #FFF8F8;
  border: 4px solid #BD2929;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Botones fecha */
.fecha {
  padding: 10px;
  background-color: #BD2929;
  color: #FFF8F8;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-family: monospace;
  font-weight: bold;
  transition: background-color 0.3s;
}

.fecha:hover {
  background-color: #a32525;
}

.fecha.activo {
  background-color: #9e1f1f;
}

/* Panel de eventos */
#panel-eventos {
  flex-grow: 1;
  min-width: 600px;
  max-width: none;
  max-height: 450px;
  overflow-y: auto;
  padding: 20px;
  background-color: #FFF8F8;
  border: 4px solid #BD2929;
  border-radius: 10px;

  opacity: 0;
  transform: translateX(40px);
  transition: all 0.4s ease;
  pointer-events: none;
}

#panel-eventos.activo {
  opacity: 1;
  transform: translateX(0);
  pointer-events: all;
}

/* Banda individual */
.banda {
  margin-bottom: 10px;
  background-color: #ffd8d8;
  padding: 10px;
  border-left: 8px solid #BD2929;
  border-radius: 4px;
  color: #682727;
  word-break: break-word;
}

/* Footer */
footer {
  background-color: #FFF8F8;
  text-align: left;
  padding: 15px 20px;
  font-size: 12px;
  color: #BD2929;
  border-top: 10px solid #BD2929;
  margin-top: auto;
}