/* Estructura base para mantener el footer abajo */

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  flex-direction: column;

  background-image: url("../img/fondo.png") ; /* Ruta a tu imagen de fondo */
  background-color: #d44242;
  background-repeat: repeat;
  background-size: 2000px;
  background-position: top;
  background-blend-mode: multiply;
  color: #682727;
}

body::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("/img/fondo.png");
  background-repeat: repeat;
  background-size: 2000px;
  mix-blend-mode: screen; /* o 'multiply', 'overlay', etc. */
  filter: hue-rotate(90deg) saturate(5) brightness(1.1);
  opacity: 0.6;
  pointer-events: none;
  z-index: -1;
}




/* Barra superior */
#barra-superior {
  background-color: #FFF8F8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  border-bottom: 8px solid #BD2929;
}

#boton-inicio img {
  width: 40px;
  height: 40px;
  object-fit: contain;
  border-radius: 8px;
  background-color: #FFF1F1;
  padding: 5px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

#boton-inicio:hover {
  background-color: #ffe5e5; /* efecto hover suave */
}


#boton-cronograma {
  background-color: #BD2929;
  color: #FFF8F8;
  padding: 20px 16px;
  text-decoration: none;
  border-radius: 5px;
  font-family: monospace;
  font-weight: bold;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-family: monospace;
  cursor: pointer;
  font-size: 17px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

}

#boton-cronograma:hover {
  transform: scale(1.05); /* Aumenta un 5% el tamaño */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); /* Sombra para más efecto */
}

/* Contenedor principal */
#contenedor-principal {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Caja de login */
.caja-login {
  background-color: #FFF8F8;
  border: 10px solid #BD2929;
  padding: 30px 40px;
  width: 320px;
  text-align: center;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 15px;
  min-height: 480px;
}

/* Espacio para el logo de la empresa */
.logo-empresa {
  width: 120%;
  max-height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-empresa img {
  height: 300px;
  object-fit: contain;
  align-items: center;
  padding-right: 40px;
  padding-top: 50px;
}

/* Texto */
h1 {
  font-size: 45px;
  margin: 0;
}

.subtitulo {
  font-size: 15px;
  color: #CC4F4F;
  margin-bottom: 3px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Formulario */
.formulario {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  flex-grow: 1;
}

/* Campos */
.grupo-input {
  display: flex;
  align-items: center;
  background-color: #ffe3e3;
  border: 2.8px solid #BD2929;
  margin: 5px 0;
  padding: 5px;
  border-radius: 5px;
}

.grupo-input .icono {
  background: url("../img/icono-input.png") no-repeat center;
  background-size: contain;
  width: 24px;
  height: 24px;
}

.grupo-input input {
  border: none;
  outline: none;
  flex: 1;
  font-family: monospace;
  color: #BD2929;
  background: transparent;

}


/* Botón */
.boton-ingresar {
  width: 100%;
  background-color: #BD2929;
  color: #FFF8F8;
  border: none;
  padding: 15px;
  margin-top: 10px;
  border-radius: 5px;
  font-family: monospace;
  cursor: pointer;
  font-size: 17px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Animación al acercar el mouse */
.boton-ingresar:hover {
  transform: scale(1.05); /* Aumenta un 5% el tamaño */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); /* Sombra para más efecto */
}


/* Footer */
footer {
  background-color: #FFF8F8;
  text-align: left;
  padding: 15px 20px;
  font-size: 12px;
  color: #BD2929;
  border-top: 10px solid #BD2929;
}
