<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AdministracionPOS</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/admin_general.css') }}">
</head>
<body>
  <div id="barra-superior">
    <a id="boton-inicio" href="index.html">
      <img src="{{ url_for('static', filename='img/inicio.png') }}" alt="Inicio" />
    </a>
    <a id="boton-cronograma" href="cronograma.html">Ver cronograma</a>
  </div>

  <main id="contenedor-principal">
    <div class="cuadro-central">
      <h1 class="titulo-colorido">Panel de Administración POS</h1>
      <nav class="links-panel">
        <a href="pagina1.html">Vender entrada</a>
        <a href="pagina2.html">Reembolsar entrada</a>
        <a href="pagina3.html">Entradas de POS</a>
      </nav>
    </div>
  </main>

  <footer>© Epsilon consultora</footer>
</body>
</html>